<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>图1</string>
		<key>image</key>
		<string>https://t7.baidu.com/it/u=139984722,3523412696&amp;fm=193&amp;f=GIF</string>
	</dict>
	<dict>
		<key>name</key>
		<string>图2</string>
		<key>image</key>
		<string>https://t7.baidu.com/it/u=592234248,3737783688&amp;fm=193&amp;f=GIF</string>
	</dict>
	<dict>
		<key>name</key>
		<string>图3</string>
		<key>image</key>
		<string>https://t7.baidu.com/it/u=3134116468,3376000385&amp;fm=193&amp;f=GIF</string>
	</dict>
	<dict>
		<key>name</key>
		<string>图4</string>
		<key>image</key>
		<string>https://t7.baidu.com/it/u=3086353810,4217819180&amp;fm=193&amp;f=GIF</string>
	</dict>
	<dict>
		<key>name</key>
		<string>图5</string>
		<key>image</key>
		<string>https://t7.baidu.com/it/u=247042419,3696704466&amp;fm=193&amp;f=GIF</string>
	</dict>
	<dict>
		<key>name</key>
		<string>图6</string>
		<key>image</key>
		<string>https://t7.baidu.com/it/u=3486959134,2536493657&amp;fm=193&amp;f=GIF</string>
	</dict>
	<dict>
		<key>name</key>
		<string>图7</string>
		<key>image</key>
		<string>https://t7.baidu.com/it/u=3409997607,3589941289&amp;fm=193&amp;f=GIF</string>
	</dict>
	<dict>
		<key>name</key>
		<string>图8</string>
		<key>image</key>
		<string>https://t7.baidu.com/it/u=1763902255,1145422034&amp;fm=193&amp;f=GIF</string>
	</dict>
	<dict>
		<key>name</key>
		<string>图9</string>
		<key>image</key>
		<string>https://t7.baidu.com/it/u=1565994819,3373537015&amp;fm=193&amp;f=GIF</string>
	</dict>
	<dict>
		<key>name</key>
		<string>图10</string>
		<key>image</key>
		<string>https://t7.baidu.com/it/u=4278887619,2170418697&amp;fm=193&amp;f=GIF</string>
	</dict>
	<dict>
		<key>name</key>
		<string>图11</string>
		<key>image</key>
		<string>https://t7.baidu.com/it/u=276479457,3147963661&amp;fm=193&amp;f=GIF</string>
	</dict>
	<dict>
		<key>name</key>
		<string>图12</string>
		<key>image</key>
		<string>https://t7.baidu.com/it/u=2925116833,2991570114&amp;fm=193&amp;f=GIF</string>
	</dict>
	<dict>
		<key>name</key>
		<string>图13</string>
		<key>image</key>
		<string>https://t7.baidu.com/it/u=887525017,4144689287&amp;fm=193&amp;f=GIF</string>
	</dict>
	<dict>
		<key>name</key>
		<string>图14</string>
		<key>image</key>
		<string>https://t7.baidu.com/it/u=1873319202,3714092135&amp;fm=193&amp;f=GIF</string>
	</dict>
	<dict>
		<key>name</key>
		<string>图15</string>
		<key>image</key>
		<string>https://t7.baidu.com/it/u=1873319202,3714092135&amp;fm=193&amp;f=GIF</string>
	</dict>
	<dict>
		<key>name</key>
		<string>图16</string>
		<key>image</key>
		<string>https://t7.baidu.com/it/u=1167002338,2928465300&amp;fm=193&amp;f=GIF</string>
	</dict>
	<dict>
		<key>name</key>
		<string>图17</string>
		<key>image</key>
		<string>https://t7.baidu.com/it/u=2435412615,3483726447&amp;fm=193&amp;f=GIF</string>
	</dict>
	<dict>
		<key>name</key>
		<string>图18</string>
		<key>image</key>
		<string>https://t7.baidu.com/it/u=2632037057,3867286127&amp;fm=193&amp;f=GIF</string>
	</dict>
	<dict>
		<key>name</key>
		<string>图18</string>
		<key>image</key>
		<string>https://t7.baidu.com/it/u=2780797146,595893742&amp;fm=193&amp;f=GIF</string>
	</dict>
	<dict>
		<key>name</key>
		<string>图19</string>
		<key>image</key>
		<string>https://t7.baidu.com/it/u=2991714299,2133773995&amp;fm=193&amp;f=GIF</string>
	</dict>
</array>
</plist>
